PORT = 8000
DATABASE_URL = "mongodb+srv://admin:password@prod.atlas.mongodb.net/ecommerce"

# auth service
BETTER_AUTH_SECRET="yourbetterauthsecret"
BETTER_AUTH_URL="http://localhost:8000"

GITHUB_CLIENT_ID="your-github-client-id"
GITHUB_CLIENT_SECRET="your-github-client-secret"

# redis
REDIS_URL="redis://localhost:6379"
REDIS_PREFIX="ecommerce"

# openai
OPENAI_API_KEY= "your-openai-api-key";
OPENAI_BASE_URL= "https://api.openai.com/v1";

#smtp
SMTP_HOST="smtp.example.com"
SMTP_PORT=587
SMTP_USER="your-smtp-username"
SMTP_PASS="your-smtp-password"
SMTP_FROM_EMAIL="Ecommerce Support <support@example.com>"

# s3
S3_BUCKET_NAME="ecommerce"
S3_ENDPOINT="https://s3.amazonaws.com"
S3_REGION="us-east-1"
S3_ACCESS_KEY_ID="your-s3-access-key-id"
S3_SECRET_ACCESS_KEY="your-s3-secret-access-key"

# Frontend URL
FRONTEND_URL="http://localhost:5173"

# RazorPay
RZP_KEY_ID = your-razorpay-key-id
RZP_SECRET = your-razorpay-secret